{% extends 'base.html' %}
{%block content%}
<div class="ui container" style="text-align:center; margin-top:50px; ">
    <h2>당신의 습관 형성에 도움이 되는 프로그램</h2>
{% if notify %}
  {% for routin in routinList %}
  <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="me-auto">{{routin.title}}</strong>
    <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close">
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div class="toast-body">
    {{notify}}
  </div>
</div>
  {% endfor %}
{% endif %}
</div>
<div class="ui container" style="margin-top:50px">
  <div class="ui top attached tabular menu">
    <a class="item" href="/">
      할 일
    </a>
    <a class="item active" href="/routin">
      루틴
    </a>
  </div>
  <div class="ui bottom attached segment">
    <div style="margin-top:50px;" class="ui container">
        <form class="ui form" action="/routin/add" method="post">
          <div class="field">
            <label for="title" class="form-label mt-4">루틴</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="routinHelp" placeholder="루틴...">
            <small id="routinHelp" class="form-text text-muted">할 일보다는 만들고 싶은 습관을 적어주세요</small>
            <label for="duration" class="form-label mt-4">기간</label>
            <input type="text" class="form-control" id="duration" name="duration" aria-describedby="durationHelp" placeholder="기간...">
            <small id="durationHelp" class="form-text text-muted">각자 습관 형성에 필요한 시간을 고려해보세요</small>
            <button class="ui button" class="ui button btn btn-primary" type="submit">작성</button>
          </div>
        </form>
    <div class="ui segment">
      {% if routinList == [] %}
        <p class="ui big header "> 설정해놓은 루틴이 없습니다 </p>
      {% endif%}
      {% for routin in routinList %}
      <div style="display:flex">
        <p class="ui big header "id={{routin.id}}> {{routin.title}}</p>
            {% if routin.complete == False %}
              <span class="badge sg-light">Not Complete</span>
            {% else %}
              <span class="badge sg-light">Complete</span>
            {% endif %} 
      </div>
      {% if routin.complete == False %}
            <a class="badge bg-success" href="/routin/update/{{routin.id}}">완료</a>
      {%else%}
      <a class="badge bg-success" href="/routin/update/{{routin.id}}">미완료</a>
      {%endif%}
            <a class="badge bg-warning" href="/routin/editing/{{routin.id}}">수정</a>
            <a class="badge bg-danger" href="/routin/delete/{{routin.id}}">삭제</a>
        <p class="ui big header "id={{routin.id}}>{{routin.l_date}}일만 버티면 됩니다</p>
      {% endfor %}
    </div>
  </div>
</div>
<div class="ui two item menu">
    <a id="home" class="item active" href="/">
      항목 작성
    </a>
    <a id="prog" class="item" href="/progress">
      진행사항
    </a>
</div>
</div>
    {%endblock%}